@model RestaurantManagerApp.Models.RecipeLines

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>RecipeLines</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RlNum" />
            <div class="form-group">
                <label asp-for="RlItemNum" class="control-label"></label>
                <select asp-for="RlItemNum" class="form-control" asp-items="ViewBag.RlItemNum"></select>
                <span asp-validation-for="RlItemNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RlInvNum" class="control-label"></label>
                <select asp-for="RlInvNum" class="form-control" asp-items="ViewBag.RlInvNum"></select>
                <span asp-validation-for="RlInvNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RlQty" class="control-label"></label>
                <input asp-for="RlQty" class="form-control" />
                <span asp-validation-for="RlQty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

