@{
    ViewData["Title"] = "Index Page";
    ViewData["Message"] = "Please have a manager open the day by logging in an reconciling the order items.";
}

<h3>@ViewData["Title"]</h3>
<br />
<div>@ViewData["Message"]</div>
<br />
<br />








